@model WorkOrderEMS.Models.CommonApplicantModel
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_GuestLayout.cshtml";
}
<style>
    .AP-marginL {
        margin-left: 3px;
        font-size: 14px;
        font-family: sans-serif;
        font-weight: 600;
        color: #000000a1;
    }
</style>

@{
    string myModelprefix = ViewBag.myModelprefixName;
}
@Html.HiddenFor(x => x.AplicantAcadmicDetails[0].AAD_APT_ApplicantId)
@*@for (var i = 0; i < Model.AplicantAcadmicDetails.Count(); i++)
{*@
@foreach (var item in Model.AplicantAcadmicDetails)
{
    <div class="main_row">
        <div class="row">
            @*<div class="colmn col-md-2">
                <div class="form-group">
                    <label class="form-label mt-10">High School</label>
                </div>
            </div>*@
            <div class="colmn col-md-6">
                <label class="AP-marginL">Intitute Name:</label>
            </div>
            <div class="colmn col-md-6">
                <label class="AP-marginL">City:</label>
            </div>

        </div>
        <div class="row">
            @*<div class="colmn col-md-2">

            </div>*@
            <div class="colmn col-md-6">
                <div class="form-group">
                    @Html.TextBoxFor(model => item.AAD_InstituteName, new { @class = "form-control", @placeholder = "High School Name" })
                    @Html.ValidationMessageFor(model => item.AAD_InstituteName)
                </div>
            </div>
            <div class="colmn col-md-6">
                <div class="form-group">
                    @Html.TextBoxFor(model => item.AAD_City, new { @class = "form-control", @placeholder = "City" })
                    @Html.ValidationMessageFor(model => item.AAD_City)
                </div>
            </div>
        </div>

        <div class="row">
            @*<div class="colmn col-md-2">
            </div>*@
            <div class="colmn col-md-6">
                <label class="AP-marginL">State:</label>
            </div>
            <div class="colmn col-md-6">
                <label class="AP-marginL">Zip:</label>
            </div>
        </div>
        <div class="row">
            @*<div class="colmn col-md-2">
            </div>*@
            <div class="colmn col-md-6">
                <div class="form-group">
                    @Html.TextBoxFor(model => item.AAD_State, new { @class = "form-control", @placeholder = "State" })
                    @Html.ValidationMessageFor(model => item.AAD_State)
                </div>
            </div>
            <div class="colmn col-md-6">
                <div class="form-group">
                    @*<label class="form-label">ZIP</label>*@
                    @Html.TextBoxFor(model => item.AAD_Zip, new { @class = "form-control", @placeholder = "ZIP" })
                    @Html.ValidationMessageFor(model => item.AAD_Zip)
                </div>
            </div>
        </div>

        <div class="row">
            @*<div class="colmn col-md-2">
            </div>*@
            <div class="colmn col-md-6">
                <label class="AP-marginL">Date attended From:</label>
            </div>
            <div class="colmn col-md-6">
                <label class="AP-marginL">Date attended to:</label>
            </div>
        </div>
        <div class="row">
            @*<div class="colmn col-md-2">
            </div>*@
            <div class="colmn col-md-6">
                <div class="form-group yearsaddress">
                    @*yearsaddress*@
                    @*<label class="form-label">Date attended From</label>*@
                    @Html.TextBoxFor(model => item.AAD_AttendedFrom, new { @class = "form-control datepicker", @placeholder = "Date Attended From" })
                    @Html.ValidationMessageFor(model => item.AAD_AttendedFrom)
                </div>
            </div>
            <div class="colmn col-md-6">
                <div class="form-group yearsaddress">
                    @*<label class="form-label">Date attended to</label>*@
                    @Html.TextBoxFor(model => item.AAD_AttendedTo, new { @class = "form-control datepicker", @placeholder = "Date Attended To" })
                    @Html.ValidationMessageFor(model => item.AAD_AttendedTo)
                </div>
            </div>
        </div>
    </div>
}
<div class="main_row">
    <div class="row">
        <div class="colmn col-md-12 text-right">
            <div class="form-group">
                @*<button class="btn mr-15">Add Cirtification</button>*@
                <button class="btn" style="border-radius: 100px; width: 195px;height: 35px;font-size: 11px;background-image: linear-gradient(to left, #3cffdb, #425fe0);">Add More</button>
            </div>

        </div>
    </div>
</div>

<div class="btn_row">
    <div class="row">
        <div class="colmn col-md-12 d-flex space-between">
            <button class="btn" onclick="PersonalInfoTab()" type="button" style="border-radius: 100px; width: 150px;height: 35px;font-size: 11px;background-image: linear-gradient(to left, #3cffdb, #425fe0);">Previous</button>
            <button class="btn" onclick="HistoryTab()" type="button" style="border-radius: 100px; width: 150px;height: 35px;font-size: 11px;background-image: linear-gradient(to left, #3cffdb, #425fe0);">Next</button>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".datepicker").datepicker();
        $(".dropdown-menu").css("font-size", "small");
    });
    
    function PersonalInfoTab() {
        $('#myTab a[href="#personal_detail"]').tab('show');
        $('#myTab li').removeClass('active');
        $('#myTab a[href="#personal_detail"]').parent().addClass('active');

    }

    function HistoryTab() {
        $('#myTab a[href="#employment_history"]').tab('show');
        $('#myTab li').removeClass('active');
        $('#myTab a[href="#employment_history"]').parent().addClass('active');

    }
</script>