@model WorkOrderEMS.Models.CommonApplicantModel

@{
    Layout = null;
}
<style>
    .AP-marginL {
        margin-left: 3px;
        font-size: 14px;
        font-family: sans-serif;
        font-weight: 600;
        color: #000000a1;
    }
    .dropdown-menu {
        font-size: small;
    }
</style>

<div class="main_row">
    @Html.HiddenFor(x => x.ApplicantPersonalInfo[0].API_APT_ApplicantId)
    @if (Model.ApplicantPersonalInfo != null)
    {
        //for (var i = 0; i < Model.ApplicantPersonalInfo.Count(); i++)
        //{
        foreach (var item in Model.ApplicantPersonalInfo)
        {
            <div class="row">
                <div class="colmn col-md-4">
                    <div class="form-group">
                        @*@Html.DropDownListFor(c => item.API_Title, new SelectList(
                        new List<Object>{
                            new { value = 0 , text = "--Type--"  },
                            new { value = "mr" , text = "Mr"  },
                            new { value = "ms" , text = "Ms" },
                            new { value = "mrs" , text = "Mrs" },
                        },
                        "value",
                        "text", 0), new { @id = "API_Title", @class = "form-control" })*@
                        <select id="API_Title" class = "form-control" name="API_Title">
                            <option value="0">--Type--</option>
                            <option value="mr">Mr</option>
                            <option value="ms">Ms</option>
                            <option value="mrs">Mrs</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="colmn col-md-4">
                    <label class="AP-marginL">First Name:</label>
                </div>
                <div class="colmn col-md-4">
                    <label class="AP-marginL">Middle Name:</label>
                </div>
                <div class="colmn col-md-4">
                    <label class="AP-marginL">Last Name:</label>
                </div>
            </div>
            <div class="row">
                <div class="colmn col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(x => item.API_FirstName, new { @class = "form-control", @placeholder = "First Name" })
                        @Html.ValidationMessageFor(x => item.API_FirstName)
                    </div>
                </div>
                <div class="colmn col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(x => item.API_MiddleName, new { @class = "form-control", @placeholder = "Middle Name" })
                        @Html.ValidationMessageFor(x => item.API_MiddleName)
                    </div>
                </div>
                <div class="colmn col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(x => item.API_LastName, new { @class = "form-control", @placeholder = "Last Name" })
                        @Html.ValidationMessageFor(x => item.API_LastName)

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="colmn col-md-6">
                    <label class="AP-marginL">SSN:</label>
                </div>
                <div class="colmn col-md-6">
                    <label class="AP-marginL">DL Number:</label>
                </div>
            </div>
            <div class="row">
                <div class="colmn col-md-6">
                    <div class="form-group">
                        @Html.TextBoxFor(x => item.API_SSN, new { @class = "form-control", @placeholder = "SSN" })
                        @Html.ValidationMessageFor(x => item.API_SSN)
                    </div>
                </div>
                <div class="colmn col-md-6">
                    <div class="form-group">
                        @Html.TextBoxFor(x => item.API_DLNumber, new { @class = "form-control", @placeholder = "DL Number" })
                        @Html.ValidationMessageFor(x => item.API_DLNumber)

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="colmn col-md-6">
                    <label class="AP-marginL">Resume:</label>
                </div>

                <div class="colmn col-md-6">
                    <label class="AP-marginL">Desired Salary:</label>
                </div>
            </div>
            <div class="row">
                <div class="colmn col-md-6">
                    <div class="form-group">
                        @Html.TextBoxFor(x => item.API_Resume, new { @class = "form-control", @placeholder = "Resume" })
                        @Html.ValidationMessageFor(x => item.API_Resume)
                    </div>
                </div>
                @*<div class="colmn col-md-6">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.ApplicantPersonalInfo[i].API_DesireSalaryWages, new { @class = "form-control", @placeholder = "Desired Salary" })
                            @Html.ValidationMessageFor(x => x.ApplicantPersonalInfo[i].API_DesireSalaryWages)
                        </div>
                    </div>*@
                <div class="colmn col-md-6">
                    <div class="form-group yearsaddress">
                        @*<label class="form-label">Desired Salary</label>*@
                        @Html.TextBoxFor(x => item.API_DesireSalaryWages, new { @class = "form-control", @placeholder = "Desired Salary" })
                        @Html.ValidationMessageFor(x => item.API_DesireSalaryWages)

                    </div>
                </div>
            </div>
        }
    }
</div>
<script>
    $(document).ready(function () {
        debugger
        $(".dropdown-menu").css("font-size", "small");
        $("#API_Title").val('@Model.ApplicantPersonalInfo[0].API_Title');
    })
</script>