
@{
    //Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    Layout = null;

    string hostingPrefix = System.Configuration.ConfigurationManager.AppSettings["hostingPrefix"];
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];
    string loginUserName = "", loginUserEmail = "", emlpoyeeId = "", loginUserContactNo = "", loginUserProfile = "", CurrentUser = "", JobTitle = "";
    bool isScheduled = Convert.ToBoolean(Session["IsInterviewDone"]);
    long loginUserType = 0;
    long locationId = 0;
    long UserId = 0;
    if (ObjLogin != null)
    {
        emlpoyeeId = ObjLogin.UserName;
        loginUserName = ObjLogin.FName + "'s";
        loginUserEmail = ObjLogin.Email;
        loginUserProfile = ObjLogin.UserProfile;
        loginUserType = ObjLogin.UserRoleId;
        //loginUserContactNo = ObjLogin.ContactNo;
        locationId = ObjLogin.LocationID;
        UserId = ObjLogin.UserId;
        CurrentUser = WorkOrderEMS.Helper.Cryptography.GetEncryptedData(ObjLogin.UserName, true);
        JobTitle = ObjLogin.JobTitleName;
    }
}
<style>
    .CloseJob {
        background-color: red;
    }

    .HoldJob {
        background-color: cadetblue;
    }

    .client-photo {
        border-radius: 50%;
        height: auto;
        width: 50px;
    }

    .actionbox {
        /*background-color: #118434;*/
        text-align: center;
        border-radius: 2px;
        padding: 2px;
        min-width: 20px;
        min-height: 20px;
        color: #000 !important;
    }

    .actionboxR {
        /*background-color: #118434;*/
        text-align: center;
        border-radius: 2px;
        padding: 2px;
        min-width: 20px;
        min-height: 20px;
        color: green !important;
    }

    .actionboxS {
        /*background-color: #118434;*/
        text-align: center;
        border-radius: 2px;
        padding: 2px;
        min-width: 20px;
        min-height: 20px;
        color: red !important;
    }
    /*.actionDiv {
        width: 175px;
    }*/

    .whiteR {
        color: #E26257 !important;
        font-size: 25px;
    }

    .whiteB {
        color: blue !important;
        font-size: 25px;
    }

    .whiteGr {
        color: #121a80 !important;
        font-size: 25px;
    }


    .inline {
        display: inline-block;
        position: relative;
    }

    .white {
        color: white;
        font-size: 25px;
    }

    .whiteD {
        color: #000;
        font-size: 25px;
    }

    .whiteY {
        color: #9e15af !important;
        font-size: 25px;
    }

    .action1 {
        margin: 2px;
    }

    .actionBtn {
        margin: 4px;
        color: #000000;
    }

    .inlineDivdonut {
        display: inline-block;
    }

    .donutC {
        width: 27px;
        height: auto;
    }

    .text {
        z-index: 999999;
        width: 495px;
        height: 200px;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 3px rgba(0, 0, 0, .3);
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
        border-radius: 3px;
        -webkit-border-radius: 3px;
        position: absolute;
        top: 21px;
        /* left: 50px; */
        background: #ddd;
        display: none;
        right: 116px;
    }

    .select-pure__select {
        align-items: center;
        background: #f9f9f8;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
        box-sizing: border-box;
        color: #363b3e;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        font-weight: 500;
        justify-content: left;
        min-height: 44px;
        padding: 5px 10px;
        position: relative;
        transition: 0.2s;
        width: 100%;
    }

    .select-pure__options {
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
        box-sizing: border-box;
        color: #363b3e;
        display: none;
        left: 0;
        max-height: 221px;
        overflow-y: scroll;
        position: absolute;
        top: 50px;
        width: 100%;
        z-index: 5;
    }

    .select-pure__select--opened .select-pure__options {
        display: block;
    }

    .select-pure__option {
        background: #fff;
        border-bottom: 1px solid #e4e4e4;
        box-sizing: border-box;
        height: 44px;
        line-height: 25px;
        padding: 10px;
    }

    .select-pure__option--selected {
        color: #e4e4e4;
        cursor: initial;
        pointer-events: none;
    }

    .select-pure__option--hidden {
        display: none;
    }

    .select-pure__selected-label {
        align-items: 'center';
        background: #0A9FCC;
        border-radius: 4px;
        color: #fff;
        cursor: initial;
        display: inline-flex;
        justify-content: 'center';
        margin: 5px 10px 5px 0;
        padding: 3px 7px;
    }

        .select-pure__selected-label:last-of-type {
            margin-right: 0;
        }

        .select-pure__selected-label i {
            cursor: pointer;
            display: inline-block;
            margin-left: 7px;
        }

        .select-pure__selected-label img {
            cursor: pointer;
            display: inline-block;
            height: 18px;
            margin-left: 7px;
            width: 14px;
        }

        .select-pure__selected-label i:hover {
            color: #e4e4e4;
        }

    .select-pure__autocomplete {
        background: #f9f9f8;
        border-bottom: 1px solid #e4e4e4;
        border-left: none;
        border-right: none;
        border-top: none;
        box-sizing: border-box;
        font-size: 16px;
        outline: none;
        padding: 10px;
        width: 100%;
    }

    .select-pure__placeholder--hidden {
        display: none;
    }
</style>
<script src="~/Content/NewAdminContent/VENDOR/jsgrid/js/jsgrid.min.js"></script>
<script src="~/Content/NewAdminContent/JQUERY/Charts/Core4.js"></script>
<script src="~/Content/NewAdminContent/JQUERY/Charts/Chart4.js"></script>
<script src="~/Content/NewAdminContent/JQUERY/Charts/Material4.js"></script>
<script src="~/Content/NewAdminContent/JQUERY/Charts/Animated4.js"></script>
<script src="~/Content/NewAdminContent/JQUERY/Charts/amchart3.js"></script>
<script src="~/Content/NewAdminContent/JQUERY/Charts/serial3.js"></script>
<link href="~/Content/NewAdminContent/VENDOR/jsgrid/css/jsgrid.min.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/VENDOR/jsgrid/css/jsgrid-theme.min.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/CSS/Common.css" rel="stylesheet" />
<link href="~/Content/Dashboard/plugins/fullcalendar/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/CSS/clockPicker.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/datepicker.css")" rel="stylesheet" />
<style>
    .addWhite {
        color: white;
    }

    .widthHeader {
        height: 40px;
    }

    .WidthForTab {
        width: 14%;
    }

    .CenterText {
        text-align: center;
    }

    #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #calendar {
        max-width: 900px;
    }

    /*.ENQUIRY {
            background-color: #FF9933;
            border-color: #C0C0C0;
            color: White;
            background-position: 1px 1px;
            background-repeat: no-repeat;
            background-image: url('Bubble.png');
            padding-left: 50px;
        }

        .BOOKED {
            background-color: #33CCFF;
            border-color: #C0C0C0;
            color: White;
            background-position: 1px 1px;
            background-repeat: no-repeat;
            background-image: url('ok.png');
            padding-left: 50px;
        }

        .CONFIRMED {
            background-color: #33CC33;
            border-color: #C0C0C0;
            color: White;
            background-position: 1px 1px;
            background-repeat: no-repeat;
            background-image: url('Money.png');
            padding-left: 50px;
        }*/
    /*a.fc-day-grid-event.fc-event.fc-start.fc-end.fc-draggable {
        background-color: #0074D9!important;
        border-color: #0074D9!important;
    }*/
</style>
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles mx-0 mb-0 mb-md-3 mb-sm-3" data-aos="fade-up">
            <div class="col-sm-12 col-xxl-4 col-lg-4 col-md-12 col-12" id="showHideHiringOnBoardingDashboard">
                <div class="welcome-text">
                    <input type="hidden" id="LoginManagerId" value="@emlpoyeeId" />
                    <h4>Hi, welcome back! @loginUserName</h4>
                </div>
            </div>

        </div>
        <div id="infofactsheet">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card" data-aos="fade-up">
                        <div class="card-header widthHeader ">
                            <h4 class="card-title addWhite" style="color: white;">Total Applicant</h4>
                        </div>
                        <div class="card-body">
                            <div id="TotalCountApplicant"></div>
                            @*<div id="EmployeeCount"></div>*@
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card" data-aos="fade-up">
                        <div class="card-header widthHeader ">
                            <h4 class="card-title addWhite" style="color: white;">Hired Applicant</h4>
                        </div>
                        <div class="card-body">
                            <div id="HiredApplicant"></div>
                            @*<div id="c3-combination"></div>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: -18px;">
                <div class="col-lg-12" id="hiringOnBordingDiv">
                    <div class="card" data-aos="fade-up">
                        <div class="card-header" style="height: 45px;">
                            <h4 class="card-title addWhite"><b>Hiring & On-Boarding</b></h4>
                            <span>
                                <i class="fa fa-refresh fa-2x" style="cursor:pointer;" aria-hidden="true" id="RefreshGrid" title="Refresh"></i>
                            </span>
                            @*<button id="CancelGridList">
                                    <i class="fa fa-ban fa-2x" style="cursor:pointer;" aria-hidden="true" id="getCancelData" onclick="getCancelData()" title="CancelData"></i>
                                Cancel List</button>*@
                        </div>
                        <div class="card-body">
                            <div class="custom-tab-1">
                                <ul class="nav nav-tabs">
                                    @if (JobTitle != "" && JobTitle != null && JobTitle == WorkOrderEMS.Helper.JobTItle.HR)
                                    {
                                        <li class="nav-item WidthForTab">
                                            <a class="nav-link active CenterText" data-toggle="tab" href="#home1" onclick="OnBoardingSummery();">On-Boarding</a>
                                        </li>
                                        <li class="nav-item WidthForTab">
                                            <a class="nav-link CenterText" data-toggle="tab" onclick="MyOpeningSummery();" href="#profile1">My Opening</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item WidthForTab">
                                            <a class="nav-link active CenterText" data-toggle="tab" onclick="MyOpeningSummery();" href="#profile1">My Opening</a>
                                        </li>
                                    }
                                    <li class="nav-item WidthForTab">
                                        <a class="nav-link CenterText" data-toggle="tab" href="#contact1" onclick="GetCompanyOpening()">Company Opening</a>
                                    </li>
                                    <li class="nav-item WidthForTab">
                                        <a class="nav-link CenterText" data-toggle="tab" href="#myinterview" onclick="MyInterviews()">My Interview</a>
                                    </li>

                                </ul>
                                <div class="nav-item" style="float:right;display:inline-block" id="JobPostBackBtn">
                                    <a onclick="JobPosting();">
                                        <i class="fa fa-chevron-circle-left" id="btnBack" aria-hidden="true" style="font-size: 32px;color: black;padding: 11px 5px 6px 5px;display:none"></i>
                                    </a>
                                </div>
                                <div class="tab-content">
                                    @if (JobTitle != "" && JobTitle != null && JobTitle == WorkOrderEMS.Helper.JobTItle.HR)
                                    {
                                        <div class="tab-pane fade show active" id="home1" role="tabpanel">
                                            <div class="pt-4">

                                                <input type="hidden" value="false" id="isScheduled" />
                                                <div id="ListOnBoarding"></div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="profile1">
                                            <div class="pt-4">
                                                <div id="ListMyOpening"></div>
                                                <div id="MyOpeningSummery"></div>
                                                <div class="row mx-md-n5">
                                                </div>
                                                <div id="Scheduler" style="display:none" class="row showHideSchedular">
                                                    <div class="nav-item" style="float:right;display:inline-block;position: absolute;right: 0;top: 5%;">
                                                        <a onclick="ShowMyOpeningGrid();">
                                                            <i class="fa fa-chevron-circle-left" aria-hidden="true" style="font-size: 32px;color: black;padding: 11px 5px 6px 5px;"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-8 col-lg-8">
                                                        <div id="calendar"></div>
                                                    </div>
                                                    <div id="SchedulerList" class="col-sm-4 col-lg-4 showHideSchedular">
                                                        <h2>Booked Slots</h2>
                                                        <div id="BookedSlots">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="Scheduler" style="display:none" class="row showHideSchedular">
                                                    <div class="nav-item" style="float:right;display:inline-block;position: absolute;right: 0;top: 1%;">
                                                        <a onclick="ShowMyOpeningGrid();">
                                                            <i class="fa fa-chevron-circle-left" aria-hidden="true" style="font-size: 32px;color: black;padding: 11px 5px 6px 5px;"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-8 col-lg-8">
                                                        <div id="calendar"></div>
                                                    </div>
                                                    <div id="SchedulerList" class="col-sm-4 col-lg-4">
                                                        <hr />
                                                        <h2>Booked Slots</h2>
                                                        <div id="BookedSlots">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="tab-pane fade" id="contact1">
                                            <div class="pt-4">
                                                <div id="companyOpening"></div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="myinterview">
                                            <div class="pt-4">
                                                <div id="myinterviews"></div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="tab-pane fade show active" id="profile1">
                                            <div class="pt-4">
                                                <div id="ListMyOpening"></div>
                                                <div id="MyOpeningSummery"></div>
                                                <div class="row mx-md-n5">
                                                </div>
                                                <div id="Scheduler" style="display:none" class="row">
                                                    <div class="nav-item" style="float:right;display:inline-block;position: absolute;right: 0;top: 5%;">
                                                        <a onclick="ShowMyOpeningGrid();">
                                                            <i class="fa fa-chevron-circle-left" aria-hidden="true" style="font-size: 32px;color: black;padding: 11px 5px 6px 5px;"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-8 col-lg-8">
                                                        <div id="calendar"></div>
                                                    </div>
                                                    <div id="SchedulerList" class="col-sm-4 col-lg-4">
                                                        <hr />
                                                        <h2>Booked Slots</h2>
                                                        <div id="BookedSlots">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="Scheduler" style="display:none" class="row">
                                                    <div class="nav-item" style="float:right;display:inline-block;position: absolute;right: 0;top: 1%;">
                                                        <a onclick="ShowMyOpeningGrid();">
                                                            <i class="fa fa-chevron-circle-left" aria-hidden="true" style="font-size: 32px;color: black;padding: 11px 5px 6px 5px;"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-8 col-lg-8">
                                                        <div id="calendar"></div>
                                                    </div>
                                                    <div id="SchedulerList" class="col-sm-4 col-lg-4">
                                                        <hr />
                                                        <h2>Booked Slots</h2>
                                                        <div id="BookedSlots">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="tab-pane fade" id="contact1">
                                            <div class="pt-4">
                                                <div id="companyOpening"></div>
                                                <div class="row mx-md-n5">
                                                </div>
                                                <div id="SchedulerCompany" style="display:none" class="row">
                                                    <div class="nav-item" style="float:right;display:inline-block;position: absolute;right: 0;top: 5%;">
                                                        <a onclick="ShowMyOpeningGridCompany();">
                                                            <i class="fa fa-chevron-circle-left" aria-hidden="true" style="font-size: 32px;color: black;padding: 11px 5px 6px 5px;"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-8 col-lg-8">
                                                        <div id="calendarCompany"></div>
                                                    </div>
                                                    <div id="SchedulerListCompany" class="col-sm-4 col-lg-4">

                                                        <h2>Booked Slots</h2>
                                                        <div id="BookedSlotsCompany">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="myinterview">
                                            <div class="pt-4">
                                                <div id="myinterviews"></div>
                                            </div>
                                        </div>

                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div id="infofactsheet">

            </div>*@
    </div>
</div>
@Html.Partial("~/Views/NewAdmin/ePeople/_HiringOnBoarding.cshtml")
<div class="modal fade  bd-example-modal-lg" @*data-backdrop="false" *@ id="ModalProfilePreview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">View Profile</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="viewProfileData">

                </div>
            </div>
            <div class="modal-footer" style="background: white;">

                <button type="button" class="btn btn-secondary" id="close" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade  bd-example-modal-lg" id="ModalScheduleInterview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Schedule Interview</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="EventForm" class="well">
                    <input type="hidden" id="eventID" class="form-control">
                    <input type="hidden" id="JobId" />
                    <input type="text" id="eventTitle" placeholder="Title here" class="form-control col-sm-8"><br />
                    <input type="text" id="eventDate" class="form-control col-sm-8" readonly><br />
                    <div id="eventTime" class="col-sm-8" style="padding: 0px;"></div><br />
                    <input type="text" id="eventDuration" placeholder="60 min" class="form-control col-sm-8" readonly><br />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn btn-danger" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);">Cancel</button>
                <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);">Save event</button>
            </div>
        </div>
    </div>
</div>

<div id="popupEventForm" class="modal hide" style="display: none;">
    <div class="modal-header"><h3>Add new event</h3></div>
    <div class="modal-body">
        <form id="EventForm" class="well">
            <input type="hidden" id="eventID">
            <label>Event title</label>
            <input type="text" id="eventTitle" placeholder="Title here"><br />
            <label>Scheduled date</label>
            <input type="text" id="eventDate"><br />
            <label>Scheduled time</label>
            <input type="text" id="eventTime"><br />
            <label>Appointment length (minutes)</label>
            <input type="text" id="eventDuration" placeholder="15"><br />
        </form>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="ModalForOfferLetter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content" style="width:1582px;margin: -30px 0px -47px -382px;">
            <div class="modal-body" style="margin-left: -157px;">
                <div id="viewOffer"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary bluebutton" style="border-radius:25px;width:125px;" onclick="return OfferSend(true);" id="SendOffer">Offer Send</button>
                <button class="btn btn-danger" onclick="return OfferSend(false);" style="border-radius:25px;width:125px;" id="CancelOffer">Cancel Offer</button>
                <button class="btn btn-primary" data-dismiss="modal" style="border-radius:25px;width:125px;" id="CloseOffer">Close</button>
            </div>
        </div>
    </div>
</div>

@*modal for job summary donut chart*@
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="ModalForApplicantStatusPieChart">
    <div class="modal-dialog modal-lg" style="width:600px;">
        <div class="modal-content">
            <div class="modal-header" style="display: inherit;">
                <h5 class="modal-title">Job Summary</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12" style="margin-left: -3%;">
                    <div class="card" data-aos="fade-up">
                        @*<div class="card-header widthHeader ">
                                <h4 class="card-title addWhite" style="color: white;">Job Summary</h4>
                            </div>*@
                        <div class="card-body">
                            <div id="AppJobSummary" style="height:185px;"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="background: white;">
                    @*<button type="button" class="btn btn-success pull-left" id="ViewVSC" style="border-radius:100px;">View Chart</button>*@
                    @*<input type="button" class="btn btn-primary" id="SaveSure" style="border-radius:100px;width: 150px;background-image: linear-gradient(to left, #9fe6d9, #0a8a0d);" data-dismiss="modal" value="Yes" />
                        <button type="button" class="btn btn-secondary" id="closeVSC" style="border-radius:100px;width: 150px;background-image: linear-gradient(to left, #e8d3d3, #dc2020);" data-dismiss="modal">No</button>*@

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade  bd-example-modal-lg" @*data-backdrop="false"*@ id="ModalForAssetsAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content" style="width:1000px;">
            <div class="modal-header">
                <h5 class="modal-title">Add Assets</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="viewAssetsData">
                </div>
            </div>
            <div class="modal-footer" style="background: white;">
                <button type="button" class="btn btn-success" id="SaveAssetsApplicant" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);">Add Assets</button>
                <button type="button" class="btn btn-primary" id="CloseAssest" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--modal to view applicant all details-->
<div class="modal bs-example-modal-lg fade preview" id="myModalForGetApplicantDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content" style="width: 120%;">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Applicant Details</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ApplicantDetailsDiv"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary bluebutton hideShowApplicant" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #9fe6d9, #0a8a0d);" onclick="return AppproveRejectApplicant(true);" id="btnApproveApplicant">Shortlisted</button>
                <button class="btn btn-danger hideShowApplicant" onclick="return AppproveRejectApplicant(false);" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #e8d3d3, #dc2020);" id="btnRejectApplicant">Reject</button>
                <button class="btn btn-primary" data-dismiss="modal" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #e8d3d3, #dc2020);" id="CloseApplicant">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal bs-example-modal-lg fade preview" id="myModalUpdatePanel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Update Interview Panel</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body" style="margin-left:1px;">
                <label>Select additional interviewers</label>
                <div id="inpManageName">
                    <span class="autocomplete-select"></span>
                </div>
                <span id="DisplayMessage" style="color:red; display:none">Interview panel has been saved successfully </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary bluebutton" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);" onclick="return UpdateInterviewPanel();" id="btnUpdateInterviewPanel">Update</button>
                <button type="button" class="btn btn-primary bluebutton" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);display:none;" onclick="return UpdateInterviewPanelForMyOpening();" id="btnUpdateInterviewPanelForMyOpening">Update</button>
                <button class="btn btn-danger" onclick="" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);" id="btnRejectPO">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal bs-example-modal-lg fade preview" id="myModalGetCertificateApplicant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content" style="width: 110%;">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">View Document</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ViewDocument"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary bluebutton" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);" onclick="return UpdateInterviewPanel();" id="btnUpdateInterviewPanel">Update</button>

                <button class="btn btn-danger" onclick="" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);" id="btnRejectPO">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade  bd-example-modal-lg" id="ModalForJobStatusChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Job Status Change</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="HoldOpenCloseJobDiv">
                    <label id="HoldOpenCloseJobId"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary bluebutton" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #9fe6d9, #0a8a0d);" id="HoldOpenCloseYes" onclick="CloseHoldJob();">Yes</button>
                <button class="btn btn-danger" onclick="" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #e8d3d3, #dc2020);" id="HoldOpenCloseNo">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade  bd-example-modal-lg" id="ModalForCancelInterview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Cancel Interview</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body" style="margin-left: 1px;">
                <div>
                    <label style="color:red;">Do you realy want to cancel this interview ?</label>
                    <br />
                    <br />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label>Comment :</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-rounded" id="CommentCancelInterview" placeholder="Comment" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary bluebutton" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #9fe6d9, #0a8a0d);" onclick="CancelInterviewByInterviewer();">Yes</button>
                <button class="btn btn-danger" onclick="" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #e8d3d3, #dc2020);">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade  bd-example-modal-lg" id="ModalForPassFailBackground" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Background Pass Fail</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <h4>Please click yes to pass background check and no to fail...!</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnBackgroundPass" class="btn btn-primary" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);" onclick="BackgroundPassFail('Y')">Yes</button>
                <button type="button" id="btnBackgroundFail" class="btn btn-danger" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);" onclick="BackgroundPassFail('N')">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " tabindex="-1" role="dialog" aria-hidden="true" id="myModalToAddEmployeeOrietation">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header" style="display: inherit;">
                <h5 class="modal-title">Employee Orientation</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin-left: 2px;">
                <form id="SaveOrientationForm">
                    @Html.Hidden("OTN_EMP_EmployeeID", new { @id = "OTN_EMP_EmployeeID" })
                    @Html.Hidden("OTN_ApplicantId", new { @id = "OTN_ApplicantId" })
                    <div id="divOriantation">
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label>Employee Id : </label>
                            </div>
                            <div class="col-sm-8">
                                <label id="GetEmployeeIdForOrientation"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label>Location: </label>
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownList("OTN_LocationId", new SelectList((List<WorkOrderEMS.Models.UserLocations>)Session["eTrac_UserLocations"], "LocationId", "LocationName"), null, new { @class = "form-control input-rounded", @id = "drp_MasterLocationForOrientation" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label>Orientation Date: </label>
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBox("ONT_OrientationDate", null, new { @id = "ONT_OrientationDate", @class = "form-control input-rounded required" })
                                @Html.ValidationMessage("ONT_OrientationDate")
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label>Orientation Time: </label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" id="ONT_Orientationtime" class="form-control input-rounded required clockpicker">
                                <span class="pull-left text-info" style="color:gray;"><i>(HH:MM i.e 00:30)</i></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="background: white;">
                <button type="button" class="btn btn-success" id="SaveOrientation" empId="@emlpoyeeId" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);" onclick="SaveOriantation(this);">Save</button>
                <button type="button" class="btn btn-primary" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade  bd-example-modal-lg" id="ModalForOriantationDone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Oriantation Done</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <h4>Please click Yes for oriantation done and no for Not done..!</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnOriantationDone" class="btn btn-primary" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);" onclick="OriantationDone('Y')">Yes</button>
                <button type="button" id="btnOriantationFail" class="btn btn-danger" style="border-radius: 100px;width: 150px;background-image: linear-gradient(to left, #3cffdb, #425fe0);" onclick="OriantationDone('N')">No</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/NewAdminContent/VENDOR/jsgrid/js/jsgrid.min.js"></script>
<script src="~/GridListing/JsGridScript/ListOnBoarding.js"></script>
<script src="~/GridListing/JsGridScript/ListMyOpening.js"></script>
<script src="~/GridListing/JsGridScript/ListEmployeeManagement.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Content/Dashboard/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="~/Scripts/NewAdminJS/AssetsAndOffer.js"></script>
<link href="~/Content/NewAdminContent/CSS/Common.css" rel="stylesheet" />
<script src="~/Content/Dashboard/plugins/fullcalendar/mySchedule.js"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
<script src="~/Content/NewAdminContent/JQUERY/clockPicker.js"></script>
<script src="~/Scripts/BootStrap-Multiselect/JS/bootbox.js"></script>
<script>
    MyOpeningSummery();

    $("#RefreshGrid").click(function () {

        $("#" + refreshGridId).jsGrid("loadData");
    });
    $("#HiringOnBoard").click(function () {
        $("#hiringOnBordingDiv").show();
        $("#EmployeeManagementDiv").hide();
        $('html,body').animate({
            scrollTop: $("#hiringOnBordingDiv").offset().top
        }, 'slow');
    });

    $("#EmplooyeeManagement").click(function () {
        $("#EmployeeManagementDiv").show();
        $("#hiringOnBordingDiv").hide();
        $('html,body').animate({
            scrollTop: $("#EmployeeManagementDiv").offset().top
        }, 'slow');
    });
</script>
<script>
    $('#ONT_OrientationDate').datepicker({
        format: "yyyy/mm/dd",
    });
    $('.clockpicker').clockpicker();
    $(".clockpicker-button").click(function () {
        debugger
        var time = $(".popover-title").children().text();
       var time1 = time.substr(0, 2) + ":" + time.substr(2);
        $("#ONT_Orientationtime").val(time1)
    })
    $.ajax({
        url: base_url + '/NewAdmin/GetCountOfHiredAndTotalApplicant',
        type: 'POST',
        success: function (countData) {
            var arrData = [];
            if (countData != null) {
                if (countData.HiredApplicant > 0) {
                    arrData.push({
                        "Applicant Status": "Hired",
                        "Count": parseInt(countData.HiredApplicant)
                    });
                }
                if (countData.TotalApplicant > 0) {
                    arrData.push({
                        "Applicant Status": "All",
                        "Count": parseInt(countData.TotalApplicant)
                    });
                }
            }
            am4core.ready(function () {
                am4core.useTheme(am4themes_material);
                am4core.useTheme(am4themes_animated);
                var chart = am4core.create("TotalCountApplicant", am4charts.PieChart);
                chart.data = arrData;
                var pieSeries = chart.series.push(new am4charts.PieSeries());
                pieSeries.dataFields.value = "Count";
                pieSeries.dataFields.category = "Applicant Status";
                pieSeries.innerRadius = am4core.percent(50);
                pieSeries.ticks.template.disabled = true;
                pieSeries.labels.template.disabled = true;
                var rgm = new am4core.RadialGradientModifier();
                rgm.brightnesses.push(-0.8, -0.8, -0.5, 0, -0.5);
                pieSeries.slices.template.fillModifier = rgm;
                pieSeries.slices.template.strokeModifier = rgm;
                pieSeries.slices.template.strokeOpacity = 0.4;
                pieSeries.slices.template.strokeWidth = 0;
                chart.legend = new am4charts.Legend();
                chart.legend.position = "right";
            });
            am4core.ready(function () {
                am4core.useTheme(am4themes_material);
                am4core.useTheme(am4themes_animated);
                var chart = am4core.create("HiredApplicant", am4charts.PieChart);
                chart.data = arrData;
                var pieSeries = chart.series.push(new am4charts.PieSeries());
                pieSeries.dataFields.value = "Count";
                pieSeries.dataFields.category = "Applicant Status";
                pieSeries.innerRadius = am4core.percent(50);
                pieSeries.ticks.template.disabled = true;
                pieSeries.labels.template.disabled = true;
                var rgm = new am4core.RadialGradientModifier();
                rgm.brightnesses.push(-0.8, -0.8, -0.5, 0, -0.5);
                pieSeries.slices.template.fillModifier = rgm;
                pieSeries.slices.template.strokeModifier = rgm;
                pieSeries.slices.template.strokeOpacity = 0.4;
                pieSeries.slices.template.strokeWidth = 0;
                chart.legend = new am4charts.Legend();
                chart.legend.position = "right";

            });
        }
    });

</script>